/* Estilo cambio de la margarita */
@media (max-width: 954px) {
    #info-box {
        display: none !important;
    }

    #info-box-mobile {
        font-family: "Arial", sans-serif;
        background-color: #ffffff;
        margin: 1em auto;
        padding: 1em 2em;
    }

    /* COLUMNS */
    .row {
        display: flex;
        flex-flow: row nowrap;
    }

    .column {
        flex: 1;
    }

    .block {
        margin-top: 0em;
        float: none;
    }

    .block img {
        width: 100%;
        transition: transform .15s ease-out;
        margin-top: 20px;
        
    }

    .block img:hover {
        transform: scale(1.1);
        transition: transform .3s ease-out;
        filter: brightness(.8) sepia(1) hue-rotate(220deg) saturate(6); 
    }
}


@media (min-width: 955px) {

    #info-box-mobile {
        display: none !important;
    }

    /* BOX */
    #info-box {
        font-family: "Barlow", sans-serif;
        background-color: #ffffff;
        max-width: 800px;
        margin: 1em auto;
        padding: 4em 1em 1em;
    }

    /* COLUMNS */
    .row {
        display: flex;
        flex-flow: row nowrap;
    }

    .column {
        flex: 1;
        width: 100px;
    }

    .block {
        margin-top: -3.6em;
        width: 20rem;
    }

    .block:first-of-type {
        margin-top: 0 !important;
    }

    .block img {
        width: 90%;
        transition: transform .15s ease-out;
    }

    .block img:hover {
        transform: scale(1.2);
        transition: transform .3s ease-out;
        /*     filter: brightness(.8) sepia(1) hue-rotate(220deg) saturate(6); */
    }

    .c-left .block img {
        transform-origin: right bottom;
    }

    .c-right .block img {
        transform-origin: left bottom;
    }

    .c-right {
        position: relative;
        top: -40px;
    }

    img.ml{
        margin-top: 2.3rem;
        margin-left: 6rem;
    }

    img.mr{
        margin-top: 2.3rem;
        margin-left: -6rem;
    }
}

/* END NEW CTA STYLE */